name: Python Test

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name:Install flake 8
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Flake8 linter
        run: |
          flake8 .

  django-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install django
        run: |
          python -m pip install --upgrade pip
          pip install django
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Django tests
        run: |
          python manage.py migrate --noinput
          python manage.py test

      - name: Build docker Image
        run : |
          docker build 
          

